* {
    margin: 0;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
}

/*---Header---*/

.header {
    min-width: 1220px;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
}

.header:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.header-content {
    max-width: 1220px;
    margin: auto;
    text-transform: uppercase;
    padding: 0 15px;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 179px;
    height: auto;
    padding-top: 28px;
    padding-left: 28px;
}

.header-logo-mobile {
    display: none;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 40px;
    padding-right: 25px;
}

.header-menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}

.header-menu-list-item:nth-child(n+2) {
    margin-left: 35px;
}

.header-menu-link:hover {
    text-decoration: underline;
}

.menu-burger {
    background-size: 24px;
    display: none;
    width: 44px;
    margin-top: 54px;
    background-image: url("../svg/burger-menu.svg");
    background-repeat: no-repeat;
}

.header-title {
    max-width: 687px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    margin-top: 101px;
    padding-bottom: 131px;
}

/*---Trends---*/

.trends {
    margin-top: 56px;
}

.trends-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 27px;
}

.trends-title:after {
    position: absolute;
    content: "";
    border: 2px solid #e1d9bd;
    width: 64px;
    bottom: 0;
    left: 48%;
}

.trends-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.trends-blocks-box {
    height: 319px;
    background-color: #eff6f1;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trends-blocks-box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trend1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trend2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trend3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trend4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trends-box-content {
    border: 2px solid #b59f5b;
    margin: 0 25px 16px 20px;
    padding: 36px 33px 32px;
}

.trends-box-text {
    padding-top: 6px;
    text-transform: uppercase;
    font-weight: 700;
}

.trends-box-link {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
}

.trends-box-link:hover {
    color: #b59f5b;
}

.information {
    max-width: 1220px;
    background-color: #fff;
    margin: 60px auto 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

/*---Main---*/

.main {
    width: 65%;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.main-content:nth-child(n+2) {
    margin-top: 61px;
}

.main-content-image {
    width: 49%;
}

.main-content-frame {
    width: 45%;
}

.main-content-category {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.main-content-category-list:nth-child(n+2) {
    margin-left: 19px;
}

.main-content-category-link {
    text-decoration: none;
    color: #b59f5b;
}

.main-content-category-link:hover {
    text-decoration: underline;
}

.main-content-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 7px;
}

.main-content-title-link {
    text-decoration: none;
    color: #0f0d0e;
}

.main-content-title-link:hover{
    color: #b59f5b;
}

.main-content-data-autor {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-bottom: 45px;
}

.main-content-time {
    font-size: 12px;
    color: #888888;
}

.main-content-autor {
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    margin-left: 12px;
}

.main-content-text {
    font-size: 15px;
    color: #0f0d0e;
    line-height: 1.467;
}

.main-content-text > p:not(:first-child) {
    margin-top: 10px;
}

/*---Aside---*/

.aside {
    width: 297px;

}

.aside-content {
    width: 100%;
}

.aside-content-side {
    margin-bottom: 57.5px;
}

.aside-content-posts-title {
    text-align: center;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 28px;
    padding-right: 17px;
}

.aside-content-posts-title:after {
    position: absolute;
    content: "";
    border: 2px solid #e1d9bd;
    width: 62px;
    bottom: 0;
    left: 38.1%;
}

.aside-content-posts-list {
    display: flex;
    margin-top: 21.9px;
}

.aside-content-posts-image {
    width: 71px;
}

.aside-content-list-text {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.aside-content-list-time {
    font-size: 12px;
    color: #888888;
    margin-top: -4px;
}

.aside-content-list-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.286;
    text-transform: uppercase;
    margin-top: 3px;

}

.aside-content-list-link {
    text-decoration: none;
    color: #000;
}

.aside-content-list-link:hover {
    color: #b59f5b;
}

.aside-search {
    box-sizing: border-box;
    height: 48px;
    display: flex;
    margin-top: 60px;
}

.aside-span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.aside-search-input {
    box-sizing: border-box;
    font-size: 13px;
    border: none;
    height: 100%;
    padding-left: 18px;
    padding-right: 52px;
    background-color: #f4f7f6;
}

.aside-search-input:focus {
    box-sizing: border-box;
    outline: none;
    border: 2px solid #b59f5b;
    padding-left: 16px;
}

.aside-search-btn {
    box-sizing: border-box;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    width: 49px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
}

.aside-search-btn:hover {
    background-color: #323232;
}

.aside-subscribe {
    box-sizing: border-box;
    height: 114px;
    display: flex;
    margin-top: -5px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.aside-subscribe-input {
    box-sizing: border-box;
    font-size: 13px;
    border: none;
    height: 47px;
    padding-left: 18px;
    padding-right: 10px;
    background-color: #f4f7f6;
    width: 100%;;
}

.aside-subscribe-input:focus {
    box-sizing: border-box;
    outline: none;
    border: 2px solid #b59f5b;
    padding-left: 16px;
}

.aside-subscribe-btn {
    height: 48px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 2.857;
}

.aside-subscribe-btn:hover {
    background-color: #323232;
}

.aside-tags {
    margin-top: -5px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.aside-tags-link {
    display: block;
    text-decoration: none;
    color: #0f0d0e;
    padding: 4px 14px;
}

.aside-tags-list {
    font-size: 12px;
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;
    border: 2px solid #eeeeee;
    margin-right: 7px;
}

.aside-tags-list:nth-child(n+4) {
    margin-top: 7px;
}

.aside-tags-list:hover {
    border-color: #b59f5b;
}

.aside-categories {
    margin-top: -9px;
    padding: 0;
}

.aside-categories-list {
    font-size: 14px;
    font-weight: 700;
    list-style: none;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid #eeeeee;
}

.aside-categories-list:nth-child(n+2) {
    padding-top: 7px;
}

.aside-categories-link {
    text-decoration: none;
    color: #000000;
}

.aside-categories-link:hover {
    color: #b59f5b;
}

.aside-categories-list-sup{
    vertical-align: super;
    font-size: 12px;
    font-weight: 700;
    color: #b59f5b;
}

/*--Shop---*/
.shop {
    max-width: 1170px;
    margin: 0 auto 60px;
}

.shop-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 27px;
}

.shop-title:after {
    position: absolute;
    content: "";
    border: 2px solid #e1d9bd;
    width: 64px;
    bottom: 0;
    left: 48%;
}

.shop-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.shop-card-img {
    padding: 0 23px;
}

.card-img {
    background-color: #eff6f1;
    height: 204px;
    display: block;
}

.card-text {
    width: 300px;
    flex-grow: 1;
    margin-top: -31px;
    border: 3px solid #b59f5b;
    padding: 49px 20px 25px;
}

.card-text-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-text-paragraph {
    font-size: 15px;
    line-height: 1.467;
    padding-top: 1px;
}

.card-text-link {
    text-decoration: none;
    color: #b59f5b;
}

.card-text-link:hover {
    text-decoration: underline;
}

.price-link {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.price {
    padding-top: 9px;
}

.price-before {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    line-height: 0.5;
}

.price-active {
    font-size: 20px;
    font-weight: 700;
}

.shop-button {
    height: 48px;
    width: 140px;
    color: #ffffff;
    background-color: #b59f5b;
    border: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.shop-button:hover {
    background-color: #323232;
}

/*--Footer---*/

.footer {
    max-width: 1220px;
    margin: auto;
    background-color: #f4f7f6;
    height: 84px;
    padding: 0 15px;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-social {
    padding: 0;
    list-style: none;
    display: flex;
}

.footer-social-item {
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-social-item:nth-child(n+2) {
    padding-left: 26.5px;
}

.footer-link {
    display: block;
    height: 20px;
    width: 20px;
}

.icon-dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.icon-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.footer-copyrights {
    display: flex;
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 40px;
    padding-left: 11px;
}

.footer-copyrights-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #999999;
    line-height: 3.333;
}

/*--Popup---*/

._hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup-wrapper {
    width: 390px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
}

.popup-close {
    position: absolute;
    content: "";
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    cursor: pointer;
    top: -25px;
    right: 0;
    width: 20px;
    height: 20px;
}

.popup-content {
    padding: 43px 30px 52px;
    font-size: 13px;
}

.popup-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 25px;
    margin-top: 4px;
}

.popup-title:after {
    position: absolute;
    content: "";
    border: 2px solid #e1d9bd;
    width: 64px;
    bottom: 0;
    left: 41%;
}

.popup-select {
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: right 11px center;
    appearance: none;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    padding-left: 20px;
    margin-top: 8px;
    color: #a2a4a3;
    cursor: pointer;
}

.popup-select:focus {
    outline: none;
    border: 2px solid #b9a464;
}

.radio-text {
    margin-top: 29px;
}

.radio-btn {
    margin-top: 6px;
    height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.radio-input {
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    width: 23px;
    height: 18px;
    cursor: pointer;
}

.radio-input:checked {
    background-image: url("../svg/form-circle.svg");
}

.input-no {
    margin-left: 10px;
}

.radio-label {
    margin-left: 2px;
}

.themes-text {
    resize: none;
    margin-top: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #f4f7f6;
    height: 120px;
    width: 100%;
    padding: 12px 20px;
    color: #a2a4a3;
    font-size: 13px;
    font-family: OpenSans, Arial, sans-serif;
}

.themes-text:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.popup-form-btn {
    margin-top: 33px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.popup-form-btn:hover {
    background-color: #323232;
}

/*--Tablet---*/

@media (min-width: 641px) and (max-width: 1200px) {

    .header {
        min-width: 100%;
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .header-logo {
        width: 157px;
        padding-top: 44px;
        padding-left: 21px;
    }

    .header-menu {
        display: none;
    }

    .menu-burger {
        display: block;
    }

    .header-title {
        font-size: 40px;
        margin-top: 79px;
        line-height: 1.5;
        padding-bottom: 108px;
    }

    .trends {
        margin-top: 44px;
    }

    .trends-title {
        font-size: 18px;
        padding-bottom: 14px;
        margin-bottom: 17px;
    }

    .trends-title:after {
        left: 46%;
    }

    .trends-blocks-box {
        height: 246px;
    }

    .trends-box-link {
        font-size: 17px;
    }

    .trends-box-content {
        padding: 32px 31px 28px;
        margin: 0 19px 16px 20px;
    }

    .information {
        margin: 48px auto 64px;
        padding: 0 19px;
    }

    .main {
        margin-left: 15px;
    }

    .main-content {
        flex-direction: column;
        position: relative;
    }

    .main-content:nth-child(n+2) {
        margin-top: 59px;
    }

    .main-content:not(:last-child):after {
        position: absolute;
        content: "";
        border: 2px solid #eeeeee;
        width: 90%;
        margin-top: 18px;
        bottom: -23px;
    }

    .main-content-category {
        font-size: 14px;
    }

    .main-content-image {
        width: 92%;
        padding-bottom: 14px;
    }

    .main-content-frame {
        width: 92%;
    }

    .main-content-title {
        font-size: 17px;
        margin-top: 11px;
    }

    .main-content-data-autor {
        margin-top: 31px;
        margin-bottom: 27px;
    }

    .aside {
        width: 320px;
    }

    .aside-content-posts-title {
        padding-right: 10px;
    }

    .aside-search-input {
        padding-left: 20px;
        padding-right: 34px;
    }

    .aside-subscribe-input {
        width: 94%;
    }

    .aside-subscribe-btn {
        width: 94%;
    }

    .shop-title {
        font-size: 18px;
    }

    .shop-title:after {
        left: 46%;
    }

    .card-content {
        margin-bottom: 27px;
    }

    .card-img {
        height: 227px;
    }

    .card-text {
        padding: 48px 13px 25px 18px;
    }

    .card-text-title {
        font-size: 17px;
    }

    .shop-cards {
        padding: 0 35px;
    }

    .shop-button {
        width: 140px;
    }

    .shop {
        margin: 0 auto 19px
    }

    .footer-copyrights {
        padding-top: 31px;
    }

    .popup-close {
        top: -34px;
        height: 27px;
        width: 27px;
        background-size: 27px;
    }

    .popup-title {
        font-size: 18px;
    }

    .radio-btn {
        height: 25px;
        margin-bottom: 30px;
    }

    .radio-input {
        height: 25px;
        width: 25px;
        background-size: 25px;
    }

    .input-no {
        margin-left: 40px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait), (max-width: 971px)  {
    .trends-blocks {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

/*@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .popup-wrapper {
        position: absolute;
        top: 96%;
    }
}*/

@media (max-width: 640px) {
    .header {
        min-width: 100%;
        background-image: url(../images/banner-mobile.jpg);
    }

    .header-menu {
        display: none;
    }

    .menu-burger {
        display: block;
        padding-top: 168px;
        margin: 0;
        background-size: 34px;
        width: 25px;
    }

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
        width: 271px;
        height: auto;
        padding-top: 28px;
        padding-left: 28px;
    }

    .header-content-wrapper {
        padding-top: 30px;
    }

    .header-title {
        font-size: 26px;
        line-height: 1.3846;
        margin-top: 33px;
        padding-bottom: 211px;
    }

    .trends {
        margin-top: 39px;
    }

    .trends-title {
        font-size: 16px;
        padding-bottom: 11px;
        margin-bottom: 24px;
    }

    .trends-title:after {
        left: 40%;
    }

    .trends-blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .trends-blocks-box {
        height: 230px;
    }

    .trends-box-link {
        font-size: 16px;
    }

    .trends-box-content {
        margin: 0 15px 15px 14px;
        padding: 17px 22px 23px;
    }

    .trends-box-text {
        padding-top: 8px;
    }

    .information {
        flex-direction: column;
        margin: 44px auto 0;
    }

    .main {
        width: 100%;
        margin-bottom: 55px;
    }

    .main-content {
        flex-direction: column;
        position: relative;
    }

    .main-content-image {
        width: 100%;
    }

    .main-content-frame {
        width: 100%;
    }

    .main-content-category {
        padding-top: 11px;
    }

    .main-content-title {
        font-size: 16px;
        margin-top: 10px;
    }

    .main-content-text {
        font-size: 14px;
    }

    .main-content-data-autor {
        margin-top: 17px;
        margin-bottom: 14px;
    }

    .main-content:after {
        position: absolute;
        content: "";
        border: 2px solid #eeeeee;
        width: 90%;
        margin-top: 18px;
        bottom: -23px;
    }

    .main-content:nth-child(n+2) {
        margin-top: 56px;
    }

    .main-content-text > p:not(:first-child) {
        margin-top: 1px;
    }

    .aside {
        width: 100%;
    }

    .aside-content-posts-title {
        font-size: 16px;
        margin-bottom: 28px;
        padding-right: 4px;
    }

    .aside-content-posts-title:after {
        left: 39.1%;
    }

    .aside-content-posts-list {
        margin-top: 22px;
    }

    .aside-search {
        margin-top: 59px;
    }

    .aside-search-input {
        padding-left: 17px;
        padding-right: 97px;
    }

    .aside-content-side {
        margin-bottom: 37.5px;
    }

    .aside-tags {
        justify-content: space-around;
    }

    .aside-tags-list {
        margin-right: 0;
        margin-bottom: 7px;
    }

    .aside-tags-list:nth-child(n+4) {
        margin-top: 0;
    }

    .shop-title {
        font-size: 16px;
        padding-bottom: 14px;
    }

    .shop-title:after {
        left: 40%;
    }

    .card-img {
        height: 284px;
    }

    .shop-card-img {
        padding: 0 36px;
    }

    .card-text {
        margin-left: 15px;
        padding: 48px 8px 26px 17px;
    }

    .card-text-title {
        font-size: 17px;
    }

    .shop-button {
        margin-right: 14px;
    }

    .card-content {
        padding-bottom: 24px
    }

    .shop {
        margin: 0 auto 13px;
    }

    .footer {
        margin: auto 15px;
    }

    .footer-copyrights {
        padding-top: 31px;
    }

    .popup-wrapper {
        top: 43%;
        width: 330px;
    }

    .popup-close {
        background-size: 27px;
        top: -31px;
        right: 0;
        width: 27px;
        height: 27px;
    }

    .popup-content{
        padding: 21px 23px 32px;
    }

    .popup-title {
        font-size: 16px;
        margin-top: 6px;
    }

    .popup-select {
        background-position: right 17px center;
    }

    .radio-input {
        background-size: 25px;
        width: 25px;
        height: 25px;
    }

    .input-no {
        margin-left: 33px;
    }

    .radio-btn {
        margin-top: 10px;
        height: 27px;
        margin-bottom: 26px;
    }

    .radio-label {
        margin-left: 7px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-blocks {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .popup-wrapper {
        position: absolute;
        top: 96%;
    }
}

